[Unit]
After=docker.service
Requires=docker.service
[Service]
Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f hello
ExecStartPre=/usr/bin/docker run \
            -d \
            -p 80:80 \
            --name=hello \
            nginxdemos/hello:{{ app_version }}
ExecStart=/usr/bin/docker logs -f hello
ExecStop=-/usr/bin/docker stop hello
ExecStopPost=-/usr/bin/docker stop hello
[Install]
WantedBy=multi-user.target
